<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Создание блюда</title>
</head>
<body>
<!--<a href="/home">Домой</a>-->
<h1>Игры</h1>
<h2>Список</h2>
<!--<div th:each="u: ${games}">-->
<!--    <span>Название:</span>-->
<!--    <span th:text="${u.getName()}"></span>-->
<!--    <br>-->
<!--    <span>Дата создания:</span>-->
<!--    <span th:text="${u.getCreationDate()}"></span>-->
<!--    <br>-->
<!--    <span>Уровни:</span>-->
<!--    <div th:each="l: ${u.getLevelList()}">-->
<!--        <span th:text="${l.getName()}"></span>-->
<!--    </div>-->
<!--    <form th:method="delete" th:action="@{/games/{id} (id = ${u.getId()})}"  >-->
<!--        <button type="submit">Удалить</button>-->
<!--    </form>-->
<!--    <br>-->
<!--    <br>-->
<!--</div>-->

<!--<form th:method="POST" th:action="@{/games/sortByName}"  >-->
<!--    <button type="submit">Отсортировать по имени</button>-->
<!--</form>-->

<!--<h2>Форма создания</h2>-->
<!--<form th:method="POST" th:action="@{/games}" th:object="${newGame}">-->
<!--    <label>-->
<!--        Название:-->
<!--        <input type="text" th:field="*{name}">-->
<!--    </label>-->

<!--    <br/>-->

<!--    <label>-->
<!--        Дата создания:-->
<!--        <input type="text" th:field="*{creationDate}">-->
<!--    </label>-->

<!--    <br/>-->

<!--    <button type="submit">Отправить</button>-->
<!--</form>-->

</body>
</html>