<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Создание блюда</title>
</head>
<body>
<h2>Создайте блюдо</h2>
<form th:method="POST" th:action="@{/admin}" th:object="${newDish}">
    <label>
        Название:
        <input type="text" th:field="*{title}">
    </label>

    <br/>

    <label>
        Дата создания:
        <input type="text" th:field="*{description}">
    </label>

    <br/>

    <button type="submit">Отправить</button>
</form>

</body>
</html>