<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<head>
    <meta charset="UTF-8">
    <head>
        <title>Поиск</title>
    </head>
</head>
<body>

<div>
    <br/>
    <form method="POST" th:action="@{/admin/searchClient}">
        Имя клиента:
        <input type="text" name="clientName">
        <button type="submit" >Поиск</button>
    </form>
    <br/>
</div>

<table>

    <thead>
    <tr>
        <th>ID</th>
        <th>Second</th>
    </tr>
    </thead>

    <tbody th:each="record: ${recordList}">
        <tr >
            <td th:text="${record.getDate()}"></td>
            <td th:text="${record.getStart()}"></td>
        </tr>
    </tbody>
</table>

<form method="POST" th:action="@{/admin/searchClient/delete}">
    Введите id записи для удаления:
    <input type="text" name="id">
    <button type="submit" >Удалить</button>
</form>


</body>
</html>